@import './includes/variables.scss';
@import './includes/button.scss';

.collection-container {
    margin: 03rem 5rem;

    .collection-categories {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .collection-box {
            width: 32%;
            position: relative;

            &.large {
                width: 66%;
            }

            .collection-body {
                height: 300px;
                background-color: $gray;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .circle-box {
                    width: 200px;
                    height: 200px;
                    background: #fff;
                    border-radius: 50%;
                    position: absolute;
                    left: 10%;
                }

                .best-match {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0.625rem;
                    background: green;
                    font-size: 10px;
                }
            }

            .collection-footer {
                height: 50px;
                width: 100%;

                .collection-price {
                    margin: 10px 0;
                    padding-left: 0;
                }

                .collection-shades {
                    display: inline-block;
                    margin: 10px 0;
                }
            }

            .shades-box {
                display: none;

                &.active {
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                }
            }

            span.color-shade {
                background: #ddd;
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                border-radius: 50%;
                margin: 5px;
            }

        }

        .collection-name {
            margin: 0;
            font-weight: 300;
        }

        .btn-addtocart {
            position: absolute;
            margin: 10px 0;
            right: 0;
            font-size: 11px;
        }

    }

}

.filter-box {
    margin: 03rem 5rem;

    .filters {
        flex-wrap: wrap;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        position: relative;

        div#myDropdown {
            height: auto;
            color: #000;
            position: absolute;
            right: 0;
            top: 10px;
            padding-top: 1rem;
            max-width: 400px;

            .dropdown-header .right-arrow {
                float: right;
                margin-top: -5px;

                &:before {
                    content: '\2192';
                    color: #000;
                    font-size: 1.75rem;
                    font-weight: lighter;
                }
            }

            .dropdown-body {
                padding: .5rem 1.5rem;
                padding-bottom: 1.5rem;

                .dropdown-box {
                    border-bottom: 1px solid #a59595;
                    padding: 1rem 0 0;
                    display: inline-block;
                    width: 100%;

                    &:last-child {
                        border: none;
                    }
                }

                .checkbox {
                    display: block;
                    float: left;
                    width: 50%;
                }

                .custom-control {
                    display: inline-block;
                }

                .filter-by-colors {

                    .custom-control {
                        min-height: 30px;
                        padding-left: 30px;
                    }

                    .custom-control-label {
                        &:before {
                            width: 25px;
                            height: 25px;
                        }

                        &:after {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .custom-radio .custom-control-input:checked~.custom-control-label::after {
                        background: none;
                    }
                }
            }
        }

        .filter-img {
            width: 20px;
        }

        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropbtn:hover,
        .dropbtn:focus {
            background-color: #3e8e41;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        .filter {
            flex: 1;
            background: #ddd;
            margin: 0.625rem;
            padding: 5px;
            height: 35px;
            margin-top: 10px;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            span {
                &.close {
                    font-size: 1rem;
                    margin: 3px;
                }
            }

            .filter-img {
                width: 20px;
            }
        }

        div#filter-btn {
            background: none;
            border: none;
            text-align: right;
        }
    }
}

.product-box-popup {
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        max-width: 100%;
    }

    .modal-content {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid;
        border-radius: 0;
        box-shadow: none;
    }

    .modal-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 50px;
        padding: 10px;
        border: 0;
        border-radius: 0;
    }

    .modal-title {
        font-weight: 300;
        font-size: 2em;
        color: #fff;
        line-height: 30px;
    }

    .modal-body {
        position: absolute;
        top: 50px;
        bottom: 60px;
        width: 100%;
        font-weight: 300;
        overflow: auto;
        padding: 0;
    }

    .modal-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60px;
        padding: 10px;
        background: #f1f3f5;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        background: #f1f3f5;
        border-left: 1px solid darken(#f1f3f5, 10%);
    }

    ::-webkit-scrollbar-thumb {
        background: darken(#f1f3f5, 20%);
    }
}

.product-tabs {
    #nav-tab {
        display: flex;
        border: none;

        .nav-item.nav-link {
            flex: 1;
            border-radius: 0px;
            background: #ddd;
            padding: 1rem;
            color: #000;
            margin-bottom: 2rem;

            &.active {
                background: #867c7c;
            }
        }

        a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -52px;
            left: 40%;
            border: 15px solid transparent;
            border-top-color: #857b7c;
        }
    }

    #nav-tabContent {
        width: 90%;
        margin: auto;

        .product-header {
            display: flex;

            .product-name {
                flex: 1;
            }
        }

        .product-body {
            .read-more-btn {
                text-align: center;
                display: block;
            }

            .bestmatches-box {
                display: block;
                text-align: center;
            }

            .best-match-indicators {
                width: 100px;
                height: 100px;
                background: #cccccc;
                display: inline-block;
                margin: 1rem;
            }
        }
    }
}

.wishlist {

    &.collection {
        width: 25px;
        position: absolute;
        right: 0.625rem;
        bottom: 0.625rem;
        height: 25px;
        line-height: 25px;
    }

    &.product {
        margin-left: 2rem;
    }

    &:before {
        content: '\2661';
        color: #000;
        font-size: 1.75rem;
        font-weight: lighter;
    }

    &.active:before {
        content: '\2665';
        color: red;
        font-size: 2rem;
    }
}