@import './includes/variables.scss';
@import './includes/button.scss';

.product {
    display: flex;
    flex-wrap: wrap;


    .product-images {
        display: flex;
        padding: 10px 20px 10px 10px;
        width: 50%;

        .product-alternate-thumb {
            width: 15%;

            img {
                width: 100%;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .product-main {
            width: 85%;
            padding: 0 20px;

            img {
                width: 100%;
            }
        }
    }

    .product-right {
        width: 50%;
        padding: 10px 10px 10px 20px;

        .product-name {
            font-size: 22px;
            font-weight: 400;
        }
        h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .product-shades-list {
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                a {
                    width: 80px;
                    height: 80px;
                    margin: 10px;
                    border-radius: 50%;
                    background-color: $gray;
                    font-size: 10px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $black;
                }
                
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.product-more-details {
    display: flex;
    flex-wrap: wrap;

    h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .head-seperator {
        width: 100px;
        border-bottom: 2px solid $black;
        margin-bottom: 20px;
    }
    .product-more-details-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ingredients-list {
        width: 50%;

        li {
            display: flex;
            align-items: center;
        }

        img {
            width: 50px;
            margin-right: 10px;
        }
        .inc-name {
            flex: 0 0 50%;
            font-weight: bold;
        }
        .inc-desc {
            font-size: 12px;
            color: $light-gray
        }
    }
}

.direction-of-use {
    .direction-video {
         width: 100%;
         height: 400px;
    }
}

.color-theory {
    .color-box {
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        height: 200px;

        p {
            margin-left: 100px;
        }
    }
}

.ingredients-more-link {
    color: $black;

    &:hover {
        color: inherit;
    }
}