@import './includes/variables.scss';

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    .navbar {
        background-color: $black;

        .navbar-logo {
            color: $white;
        }
    }
    nav {
        .nav-link {
            color: $white;
            text-transform: uppercase;
        }
    }
    .menu-right {
        svg {
            width: 20px;
            height: 20px;
            margin-right: 20px;

            .heroicon-ui {
                fill: $white;
            }
        }
    }
}
.body-content {
    margin-top: 56px;
    min-height: 450px;
}
footer {
    h3 {
        font-size: 14px;
        margin: 0 0 15px 0;
        padding: 0;
        text-transform: uppercase;
    }

    ul {
        li {
            font-size: 12px;

            a {
                color: $light-gray;

                &:hover {
                    color: $light-gray;
                    text-decoration: none;
                }
            }
        }
    }
}
.social-links {
    img {
        width: 16px;
    }
}
.newsletter {
    font-size: 12px;

    .form-control-email {
        display: inline-block;
        width: 200px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .btn-submit {
        border-radius: 0;
        padding-top: 3px;
        padding-bottom: 3px;
        border-width: 2px;
        font-size: inherit;
    }
}