.btn {
  border-radius: 0; }

.btn-dark {
  background-color: #000; }
  .btn-dark:hover {
    background-color: #8e8b8b;
    color: #000;
    border-color: #8e8b8b; }

.btn-light {
  background-color: #8e8b8b;
  color: #fff; }

.collection-container {
  margin: 03rem 5rem; }
  .collection-container .collection-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .collection-container .collection-categories .collection-box {
      width: 32%;
      position: relative; }
      .collection-container .collection-categories .collection-box.large {
        width: 66%; }
      .collection-container .collection-categories .collection-box .collection-body {
        height: 300px;
        background-color: #cccccc;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative; }
        .collection-container .collection-categories .collection-box .collection-body .circle-box {
          width: 200px;
          height: 200px;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          left: 10%; }
        .collection-container .collection-categories .collection-box .collection-body .wishlist {
          width: 25px;
          position: absolute;
          right: 0.625rem;
          bottom: 0.625rem;
          height: 25px;
          line-height: 25px; }
          .collection-container .collection-categories .collection-box .collection-body .wishlist:before {
            content: '\2661';
            color: #000;
            font-size: 1.75rem;
            font-weight: lighter; }
          .collection-container .collection-categories .collection-box .collection-body .wishlist.active:before {
            content: '\2665';
            color: red;
            font-size: 2rem; }
      .collection-container .collection-categories .collection-box .collection-footer {
        height: 50px;
        width: 100%; }
        .collection-container .collection-categories .collection-box .collection-footer .collection-price {
          margin: 10px 0;
          padding-left: 0; }
        .collection-container .collection-categories .collection-box .collection-footer .collection-shades {
          display: inline-block;
          margin: 10px 0; }
      .collection-container .collection-categories .collection-box .shades-box {
        display: none; }
        .collection-container .collection-categories .collection-box .shades-box.active {
          width: 100%;
          text-align: center;
          display: inline-block; }
      .collection-container .collection-categories .collection-box span.color-shade {
        background: #ddd;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        border-radius: 50%;
        margin: 5px; }
    .collection-container .collection-categories .collection-name {
      margin: 0;
      font-weight: 300; }
    .collection-container .collection-categories .btn-addtocart {
      position: absolute;
      margin: 10px 0;
      right: 0;
      font-size: 11px; }

.filter-box {
  margin: 03rem 5rem; }
  .filter-box .filters {
    flex-wrap: wrap;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    position: relative; }
    .filter-box .filters div#myDropdown {
      height: auto;
      color: #000;
      position: absolute;
      right: 0;
      top: 10px;
      padding-top: 1rem;
      max-width: 400px; }
      .filter-box .filters div#myDropdown .dropdown-body {
        padding: .5rem 1.5rem; }
        .filter-box .filters div#myDropdown .dropdown-body .checkbox {
          display: block;
          float: left;
          width: 50%; }
        .filter-box .filters div#myDropdown .dropdown-body .custom-control {
          display: inline-block; }
        .filter-box .filters div#myDropdown .dropdown-body .filter-by-colors .custom-control {
          min-height: 30px;
          padding-left: 30px; }
        .filter-box .filters div#myDropdown .dropdown-body .filter-by-colors .custom-control-label:before {
          width: 25px;
          height: 25px; }
        .filter-box .filters div#myDropdown .dropdown-body .filter-by-colors .custom-control-label:after {
          width: 25px;
          height: 25px; }
    .filter-box .filters .filter-img {
      width: 20px; }
    .filter-box .filters .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer; }
    .filter-box .filters .dropbtn:hover,
    .filter-box .filters .dropbtn:focus {
      background-color: #3e8e41; }
    .filter-box .filters .dropdown {
      position: relative;
      display: inline-block; }
    .filter-box .filters .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1; }
    .filter-box .filters .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    .filter-box .filters .dropdown a:hover {
      background-color: #ddd; }
    .filter-box .filters .show {
      display: block; }
    .filter-box .filters .filter {
      flex: 1;
      background: #ddd;
      margin: 0.625rem;
      padding: 5px;
      height: 35px;
      margin-top: 10px;
      text-align: center; }
      .filter-box .filters .filter:first-child {
        margin-left: 0; }
      .filter-box .filters .filter:last-child {
        margin-right: 0; }
      .filter-box .filters .filter span.close {
        font-size: 1rem;
        margin: 3px; }
      .filter-box .filters .filter .filter-img {
        width: 20px; }
    .filter-box .filters div#filter-btn {
      background: none;
      border: none;
      text-align: right; }

.product-box-popup .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.product-box-popup .modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  max-width: 100%; }

.product-box-popup .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none; }

.product-box-popup .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0; }

.product-box-popup .modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px; }

.product-box-popup .modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto; }

.product-box-popup .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5; }

.product-box-popup ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background: #f1f3f5;
  border-left: 1px solid #d3dae0; }

.product-box-popup ::-webkit-scrollbar-thumb {
  background: #b6c0cb; }
