.btn {
  border-radius: 0; }

.btn-dark {
  background-color: #000; }
  .btn-dark:hover {
    background-color: #8e8b8b;
    color: #000;
    border-color: #8e8b8b; }

.product {
  display: flex; }
  .product .product-images {
    display: flex;
    padding: 10px 20px 10px 10px; }
    .product .product-images .product-alternate-thumb {
      width: 15%; }
      .product .product-images .product-alternate-thumb img {
        width: 100%;
        margin-bottom: 10px; }
        .product .product-images .product-alternate-thumb img:last-child {
          margin-bottom: 0; }
    .product .product-images .product-main {
      width: 85%;
      padding: 0 20px; }
      .product .product-images .product-main img {
        width: 100%; }
  .product .product-right {
    padding: 10px 10px 10px 20px; }
    .product .product-right .product-name {
      font-size: 22px;
      font-weight: 400; }
    .product .product-right h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 400; }
  .product .product-shades-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    .product .product-shades-list ul li a {
      width: 80px;
      height: 80px;
      margin: 10px;
      border-radius: 50%;
      background-color: #cccccc;
      font-size: 10px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000; }
    .product .product-shades-list ul li:first-child {
      margin-left: 0; }
    .product .product-shades-list ul li:last-child {
      margin-right: 0; }

.direction-of-use .direction-video {
  width: 100%;
  height: 400px; }

.color-theory .color-box {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 200px; }
  .color-theory .color-box p {
    margin-left: 100px; }

.product-quantity .product-qty {
  width: 50px;
  border: 0;
  border-bottom: 1px solid #ccc; }
