.btn {
  border-radius: 0; }

.btn-dark {
  background-color: #000; }
  .btn-dark:hover {
    background-color: #6c757d; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  position: fixed;
  top: 0;
  width: 100%; }
  header .navbar {
    background-color: #000; }
    header .navbar .logo-link {
      color: #fff; }
  header nav .nav-link {
    color: #fff;
    text-transform: uppercase; }
  header .menu-right svg {
    width: 20px;
    height: 20px;
    margin-right: 20px; }
    header .menu-right svg .heroicon-ui {
      fill: #fff; }
  header .logo, header .main-menu, header .menu-right {
    flex: 1; }
  header .logo {
    justify-content: flex-start; }
  header .main-menu {
    justify-content: center; }
  header .menu-right {
    justify-content: flex-end; }

.body-content {
  margin-top: 56px;
  min-height: 450px; }

footer h3 {
  font-size: 14px;
  margin: 0 0 15px 0;
  padding: 0;
  text-transform: uppercase; }

footer ul li {
  font-size: 12px; }
  footer ul li a {
    color: #8e8b8b; }
    footer ul li a:hover {
      color: #8e8b8b;
      text-decoration: none; }

.social-links img {
  width: 16px; }

.newsletter {
  font-size: 12px; }
  .newsletter .form-control-email {
    display: inline-block;
    width: 220px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 10px; }
  .newsletter .btn-submit {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 2px;
    font-size: inherit; }

.bx-wrapper {
  border: 0; }
  .bx-wrapper .bx-pager {
    bottom: 40px; }
  .bx-wrapper .shop-now {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 70px; }
