@media only screen and (max-width : 768px) {
    /* Styles */
    .testimonial-item {
        background-position: left top, right center;
        background-size: 30%;
    }

    .main-menu {
        .submenu {
            display: flex;
            justify-content: flex-start;
        }

        .nav-item:hover {
            .submenu-wrapper {
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}