@media only screen and (max-width : 768px) {
    /* Styles */
    .home-container .home-categories {
        justify-content: center;
    }

    .testimonial-item {
        background-position: left top, right center;
        background-size: 30%;
        padding: 0;
    }

    .main-menu {
        .submenu {
            display: flex;
            justify-content: flex-start;
        }

        .nav-item:hover {
            .submenu-wrapper {
                display: flex;
                justify-content: flex-start;
            }
        }
    }

    .product-page {
        .product-more-details-left {
            width: 100%;
        }

        .ingredients-list {
            width: 100%;
        }

        .product-images {
            width: 100%;
        }

        .product-right {
            width: 100%;
        }
    }

    .mini-cart {
        width: 100%;
    }
}